@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap%27');

body, head, * {
    margin: 0;
    padding: 0;
}


.App {
    font-family: 'Arvo', serif;
    background-image: url(../../public/mceternal.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0;
    z-index: 90;
    height: 110vh;
    width: 100%;
    min-height: 1000px;
}

.App::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background-color: rgba(123, 110, 110, 0.3);
}