:root {
    --dark: #22577a;
    --medium: #38a3a5;
    --light: #57cc99;
}

.App {
    font-family: "SF Mono", ui-monospace;
    background-image:
        radial-gradient(closest-corner circle at 40% 70%,rgb(240, 120, 60), rgb(254, 0, 127), rgba(0, 0, 255, 0.1)),
        radial-gradient(closest-corner circle at 80% 20%, rgb(250, 100, 255), rgb(190, 60, 240), rgba(255, 0, 0, 0.1)),
        radial-gradient(closest-corner circle at 80% 80%, rgb(200, 100, 120),rgb(254, 0, 127), rgba(0, 255, 0, 0.1)),
        radial-gradient(closest-corner circle at 20% 20%, rgb(100, 100, 255),rgb(100, 100, 255), rgba(255, 255, 0, 0.1)),
        radial-gradient(closest-corner circle at 20% 60%, rgb(250, 100, 0),rgb(100, 150, 200), rgba(255, 255, 0, 0.1)),
        radial-gradient(closest-corner circle at 60% 20%, rgb(250, 100, 0),rgb(100, 150, 200), rgba(255, 255, 0, 0.1)),
        radial-gradient(closest-corner circle at 10% 10%, rgb(250, 100, 0),rgb(100, 150, 200), rgba(0, 255, 255, 0.5)),
        radial-gradient(closest-corner circle at 70% 50%, rgb(250, 100, 255), rgb(190, 60, 240), rgba(255, 255, 0, 0.1)),
        radial-gradient(closest-corner circle at 30% 50%, rgb(0, 0, 255), rgb(0, 0, 255), rgba(0, 0, 255, 1));
    min-height: 100vh;
    min-width: 100vw;
    transform: scale(1.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    backdrop-filter: blur(50px);
}

.backing > h1 {
    position: absolute;
    font-size: 42.5vh;
    left: 10.5%;
    bottom: 0;
    align-self: center;
}

.backing > h1 > .text {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                0 3px 0 #ccc, 0 4px 0 #ccc,
                0 5px 0 #ccc, 0 6px 0 #ccc,
                0 7px 0 #ccc, 0 8px 0 #ccc,
                0 9px 0 #ccc, 0 10px 0 #ccc,
                0 11px 0 #ccc, 0 12px 0 #ccc,
                0px 40px 35px rgba(0, 0, 0, 0.45);
}

.linker {
    position: absolute;
    z-index: 3;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 50px;
    border: 0.25px solid rgb(255, 255, 255);
    backdrop-filter: blur(7.5px);
    transition: 0.1s ease;
}

.linker:nth-of-type(1) {
    top: 14.5%;
    left: 10%;
}

.linker:nth-of-type(2) {
    top: 77.5%;
    left: 75.5%;
}

.linker:nth-of-type(3) {
    /* first things first rest in peace uncle phil */
}

a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: -0.01em;
}

button {
    font-family: "SF Mono", ui-monospace;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.linker::after {
    position: absolute;
    z-index: 3;
    content: "";
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    height: 5px;
    top: 3.5rem;
    right: 15%;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
}

.linker:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.linker:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


.login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.login-form > span {
    position: absolute;
    top: 50px;
    color: black;
    font-weight: 700;
}

#reg {
    position: relative;
    font-size: 1rem;
}

#reg > button {
    font-size: 1rem;
    color: rgb(50, 50, 50);
    cursor: pointer;
    padding-left: 25px;
}

.under {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "rm . fp";
    padding-left: 80px;
}

.remember-me {
    grid-area: rm;
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    color: rgb(50, 50, 50);
    font-weight: 600;
    width: 100%;
}

.remember-me > label {
    padding-left: 10px;
    padding-top: 2px;
}


.under > a {
    padding-left: 20px;
    grid-area: fp;
    font-size: 0.75rem;
    font-weight: 600;
    position: relative;
    color: rgb(50, 50, 50);
}

.register-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(500px);
    min-width: 500px;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.register-form > span {
    position: absolute;
    top: 50px;
    color: black;
    font-weight: 700;
}

.ui-section {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: black;
    padding: 25px;
}

.ui-section > label {
    position: absolute;
    left: 35px;
    bottom: 42.5px;
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.1s ease;
}

.ui-section:has(input[type=submit]) {
    width: 82.5%;
}

.x-mark {
    z-index: 999;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 50px;
    border-bottom-left-radius: 25px;
    left: 445px;
    background-color: rgb(50, 50, 50);
}

.x-mark:active {
    background-color: rgb(20, 20, 20);
}

input[type=email] {
    border: none;
    background-color: transparent;
    outline: none;
    width: 400px;
    border-bottom: 2px solid rgb(122, 122, 122);
    padding: 5px;
    padding-left: 10px;
    font: "SF Mono" ui-monospace;
    font-size: 1rem;
}

input[type=email]::placeholder {
    color: rgb(50, 50, 50);
    font-weight: 600;
    transition: 0.3s ease;
}

input[type=email]:focus::placeholder {
    transform: translateY(-22.5px);
}

input[type=text] {
    border: none;
    background-color: transparent;
    outline: none;
    width: 400px;
    border-bottom: 2px solid rgb(122, 122, 122);
    padding: 5px;
    padding-left: 10px;
    font: "SF Mono" ui-monospace;
    font-size: 1rem;
}

input[type=text]::placeholder {
    color: rgb(50, 50, 50);
    font-weight: 600;
    transition: 0.3s ease;
}

input[type=text]:focus::placeholder {
    transform: translateY(-22.5px);
}

input[type=password] {
    border: none;
    background-color: transparent;
    outline: none;
    width: 400px;
    border-bottom: 2px solid rgb(122, 122, 122);
    padding: 5px;
    padding-left: 10px;
    font: "SF Mono" ui-monospace;
    font-size: 1rem;
}

input[type=password]::placeholder {
    color: rgb(50, 50, 50);
    font-weight: 600;
    transition: 0.3s ease;
}

input[type=password]:focus::placeholder {
    transform: translateY(-22.5px);
}

input[type=submit] {
    background-color: rgb(50, 50, 50);
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

input[type=submit]:active {
    background-color: rgb(20, 20, 20);
}

.login {
    z-index: 999;
    position: relative;
    background-color: transparent;
    min-width: 500px;
    min-height: 600px;
    border-radius: 25px;
    border: 0.25px solid rgb(255, 255, 255);
    backdrop-filter: blur(25px);
    transform: scale(0);
    transition: transform 0.5s ease;
    overflow: hidden;
}

.backing {
    display: flex;
    justify-content: center;
}

.Image {
    position: absolute;
    left: 87.5%;
    bottom: 37.5%;
}